body {

background-color:cadetblue;


}

.image-section {
display: flex;
justify-content: center;
}
.section-style {
margin-right: 25px;
margin-left: 252px;
background-color:chocolate;

}
span {
align-items: center;
background-color:brown;

}
h3 {
font-family:cursive;


}
